<main class="main">
  <div class="inner">
<div class="info">
    <div class="info1">
    空席
    </div>
        <div class="info2">
    購入可
    </div>
        <div class="info3">
    出品中
    </div>
        </div>

    <div class="card__wrapper">

      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>

<div class="train">
  <div class="yajirushi">⬆️</div> 
  <h1>1号車</h1>
  <div class="door" style="left: 0%; top: 15%;"></div>
  <div class="door" style="left: 0%; top: 38%;"></div>
  <div class="door" style="left: 0%; top: 62%;"></div>
  <div class="door" style="left: 0%; top: 85%;"></div>
  <div class="door" style="right: 0%; top: 15%;"></div>
  <div class="door" style="right: 0%; top: 38%;"></div>
  <div class="door" style="right: 0%; top: 62%;"></div>
  <div class="door" style="right: 0%; top: 85%;"></div>
  

<% (1..6).each do |seat_number| %>
  <% sheet = @train.sheets.find_by(seat_number: seat_number) %>
  
  <% if sheet.present? && current_user %>
    <% if sheet.seller_id == current_user.id %>
      <!-- 席が出品されており、現在のユーザーが出品者である場合 -->
    <div class="sheet<%= seat_number %> served" style="left: <%= left_value_for(seat_number) %>%; top: <%= top_value_for(seat_number) %>%;">
      <%= link_to "出品中", train_sheet_path(@train, sheet), class: "sheet#{seat_number} info33" %>
    </div>
      <!-- 出品者自身がクリックしたときは詳細ページに移動 -->
       
    <% elsif sheet.seller_id != current_user.id %>
      <!-- 席が出品されており、現在のユーザーが出品者ではない場合 -->
      <div class="sheet<%= seat_number %> reserved" style="left: <%= left_value_for(seat_number) %>%; top: <%= top_value_for(seat_number) %>%;">
        <%= link_to "購入可", new_train_order_path(train_id: @train.id, sheet_id: sheet.id),class: "sheet#{seat_number} info22" %>
      </div>
    <% end %>
  <% else %>
    <!-- 席が出品されていない場合またはログインしていない場合 -->
    <div class="sheet<%= seat_number %>" style="left: <%= left_value_for(seat_number) %>%; top: <%= top_value_for(seat_number) %>%;">
      <%= link_to new_train_sheet_path(@train, seat_number: seat_number), class: "sheet#{seat_number}" do %>
        <!-- 席の内容 -->
      <% end %>
    </div>
  <% end %>
<% end %>
       </div>
     </div>
    </div>
  </div>
</main>
