<%= form_for [@train, @sheet] do |f| %>
  <div class="form-group">
    <%= f.hidden_field :seat_number, value: params[:seat_number] %>
  <br>
      <%= f.label :exit_station, "下車駅　　　" %>
      <%= f.select :exit_station, 
                   ["大崎", "五反田", "目黒","恵比寿", "渋谷", "原宿","代々木", "新宿", "新大久保","高田馬場", "目白", "池袋","大塚", "巣鴨", "駒込","田端","西日暮里", "日暮里", "鶯谷","上野", "御徒町", "秋葉原","神田", "東京", "有楽町","新橋", "浜松町","田町", "高輪ゲートウェイ", "品川"], 
                   { prompt: "駅を選択してください" }, 
                   class: "form-control" %>
    </div>
  <div class="field">
    <%= f.label :服装の特徴等 %>
    <%= f.text_field :appearance %>
  </div>

  <div class="actions">
  <div class="nav__del">
    <%= f.submit "100円シートを作成" %>
  </div>
  </div>
<% end %>